$padded: 90%;
$chat-padding-lr: 35px;
$chat-padding-tb: 40px;

.chat-page{
    position: fixed;
    height: 100%;
    width: calc(100% - #{$left});
    display: flex;
    align-items: center;
    background-color: $bg;
    overflow: hidden;
}

.groups{
    flex: 30%;
    height: $padded;
}

.chat{
    flex: 70%;
    height: $padded;
    margin-right: 30px;
    background-color: white;
    border-radius: $round;
    display: flex;
    flex-direction: column;
}

.top-bar{
    height: 20%;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    padding: $chat-padding-lr $chat-padding-tb;
}

$info-size: 75px;

.info{
    height: $info-size;
    width: $info-size;
    border-radius: 10px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.info > svg{
    color: rgba(0, 0, 0, 0.39);;
}

.info-users{
    margin-top: 20px;
    width: 100%;
}

.info-join{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.info-block{
    height: 6rem;
    margin: 15px 0px;
    padding: 0px 20px;
    background-color: #D6E3E6;
    border-radius: 15px;
}

.info-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-user-inner{
    display: flex;
    align-items: center;
}

.info-user-name{
    font-size: 1.5rem;
}

.info-code{
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-box{
    width: 100%;
    height: 100%;
    padding: $chat-padding-lr $chat-padding-tb;
    overflow-y: auto;
}

.chat-box::-webkit-scrollbar {
    display: none;
}

.chat-message-wrapper{
    display: flex;
    flex-direction: column;
}


.chat-message{
    font-size: 18px;
    border-radius: 15px;
    background-color: #D6E3E6;
    padding: 10px 20px;
    white-space: pre-wrap;
    text-align: right;
    overflow-wrap: anywhere;
    width: fit-content;
}

.chat-subtitle{
    font-size: 12px;
    color: #888;
    margin-bottom: 10px;
}


.input-main{
    margin: 40px;
    border: none;
    background-color: #f0f0f0;
    outline: none;
    padding: 25px;
    font-size: 18px;
    border-radius: 15px;
}

[data-placeholder]:empty:before{
  content: attr(data-placeholder);
  color: #888;
}


.tab-nav{
    display: flex;
}

.tab-option{
    margin: 10px;
    padding: 0px 10px;
    cursor: pointer;
}

.tab-active{
    border-bottom: 3px solid#FFAA06; 
}


.group{
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 85%;
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
}

.group:hover{
    background-color: #DFE9EB;
}

.group-active{
    background-color: #D6E3E6;
}

.group-active{
    background-color: #D6E3E6 !important;
}

.group-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
}

.group-time{
    margin-left: auto;
}

$circle-size: 50px;

.circle{
    width: $circle-size;
    height: $circle-size;
    background-color: #C4C4C4;
    border-radius: 50%;
}

.circle > img{
    border-radius: 50%;
}